body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}
h1 {
	text-align: center;
}
form {
	max-width: 800px;
	margin: 20px auto;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
	width: 100%;
}
label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}
input, select, textarea {
	width: calc(100% - 16px);
	padding: 8px;
	margin-bottom: 16px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}
button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}
button:disabled {
	background-color: gray;
}
#minorsContainer{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;
	input[type=checkbox] {
		width: 15px;
		height: 15px;
	}
}

