
/* Your CSS styles here */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}
h1 {
	text-align: center;
}
.course {
	max-width: 800px;
	margin: 20px auto;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
}
th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}
th {
	background-color: #f2f2f2;
}
button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}
.curriculumContainer {
	display: flex;
	justify-content: space-between;
}
.export-button {
	text-decoration: none;
	button {
		background-color: #dddddd;
		color: black; /* Set your desired text color */
		padding: 5px 5px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}
}
.delete-button {
	text-decoration: none;
	button {
		background-color: #ff6666;
		color: #fff; /* Set your desired text color */ 
		padding: 5px 5px; 
		border: none; 
		border-radius: 5px; 
		cursor: pointer; 
	}
}
nav {
	display: block;
	text-align: center;
	/* position: sticky; */
	/* top: 0; */
	position: fixed;
	z-index: 100;
	background-color: #3498db;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slightly larger box shadow with a more subtle color */
	border-bottom: 2px solid #2980b9; /* Add a bottom border */
	border-radius: 5px; /* Add rounded corners */
	overflow-x: hidden;
	margin-top: 3vh;
	height: 100vh;
	width: 20vw;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		white-space: nowrap; /* Prevent items from wrapping to the next line */
	}

	li {
		margin: 0;
		width: 100%;
	}

	a {
		display: block;
		width: 100%;
		text-decoration: none;
		color: #ecf0f1;
		padding: 15px;
		transition: background-color 0.3s ease;
		border-radius: 5px; /* Add rounded corners */
	}

	a:hover {
		background-color: #2980b9;
	}

	/* Adjustments for better spacing and appearance */
	li:not(:last-child) {
		margin-bottom: 10px;
	}
}


